@page "/CustomerInfo/{Id}"
@inject ICustomersData customersData


@if (customer is not null)
{
    <div>
        <div>
            @customer.Name
        </div>
    </div>
}

@code {
    [Parameter]
    public string? Id { get; set; }

    private FullCustomersModel? customer;

    protected async override Task OnInitializedAsync()
    {
        if (Id is not null)
        {
            customer = (await customersData.GetFullCustomerInfo(int.Parse(Id))).FirstOrDefault();    
        }
    }
}
