@page "/Asiakkaat"
@attribute [Authorize(Roles = "employee")]
@inject ICustomersData customersData
@inject ProtectedSessionStorage sessionStorage
@inject NavigationManager navMngr

<div class="container-fluid">
    <div class="mb-2">
        <h1>Hae asiakkaita</h1>
        <div>
            <input
                type="text"
                placeholder="Hae..."
                aria-label="Hakukenttä"
                @oninput="((i) => SearchHandler((string)i.Value!))"
                style="width:220px;"
            />
        </div>
    </div>
    <div class="my-2 d-none d-xl-block">
        <div class="col-12">
            <div class="d-flex flex-wrap">
                @foreach (var letter in alphabet)
                {
                    <div class="px-1 vb-alphabet-font border-start border-end" @onclick="(() => AlphabetHandler(letter))">
                        <button class="vb-btn-nostyling">
                            @letter
                        </button>
                    </div>
                }
            </div>
        </div>
    </div>
    <div>
        @if (customers is not null && isFiltered)
        {
            <div class="mt-3">
                <h2 class="ms-1">@char.ToUpper(searchText[0])</h2>
                <ul class="d-xl-flex flex-wrap list-unstyled">
                    @foreach (var customer in customers)
                    {
                        <li 
                            class="py-1 col-12 col-xl-4 col-xxl-3 list-unstyled"
                            @onclick="(() => GoToCustomerPage(customer))">
                            <button type="button" class="p-1 vb-hover-turq vb-btn-nostyling">@customer.Name</button>    
                        </li>
                    }
                </ul> 
            </div>
        }
    </div>
</div>

@code {
    private string searchText = "";
    private bool isFiltered = false;
    private char[] alphabet = "ABCDEFGHIJKLMNOPQRSTUVWXYZÅÄÖ".ToCharArray();
    private List<CustomersModel>? customers;

    protected async override Task OnAfterRenderAsync(bool firstReload)
    {
        if (firstReload)
        {
            await GetFilterState();
            await FilterCustomers();
            StateHasChanged();
        }
    }

    private async Task GetFilterState()
    {
        var results = await sessionStorage.GetAsync<string>(nameof(searchText));
        searchText = results.Success && results.Value is not null ? results.Value : "";
    }

    private async Task SaveFilterState()
    {
        await sessionStorage.SetAsync(nameof(searchText), searchText);
    }

    private async Task SearchHandler(string text)
    {
        searchText = text;
        await FilterCustomers();
    }

    private async Task AlphabetHandler(char letter)
    {    
        searchText = letter.ToString();
        await FilterCustomers();
    }

    private async Task FilterCustomers()
    {
        var filtered = await customersData.GetAllCustomerNames();

        if (!string.IsNullOrWhiteSpace(searchText))
        {
            filtered = filtered.Where(a => a.Name!.StartsWith(searchText, StringComparison.CurrentCultureIgnoreCase));
            isFiltered = true;
        }
        else
        {
            isFiltered = false;
        }

        customers = filtered.ToList();
        await SaveFilterState();
    }

    private void GoToCustomerPage(CustomersModel customer)
    {
        navMngr.NavigateTo($"/Asiakastiedot/{customer.Id}");
    }
}
