@page "/CustomerInfo/{Id}"
@inject ICustomersData customersData
@inject IOrdersData ordersData


@if (customer is not null)
{
    <div>
        <div>
            @customer.Name
            Orders: @customer.TotalOrders
        </div>
    </div>
}

@code {
    [Parameter]
    public string? Id { get; set; }

    private FullCustomersModel? customer;
    private IEnumerable<FullOrdersModel>? orders;

    protected async override Task OnInitializedAsync()
    {
        if (Id is not null)
        {
            customer = await customersData.GetCustomerInfo(int.Parse(Id));
            //orders = await ordersData.GetAllOrdersByCustomerId(int.Parse(Id));
        }
    }
}
