@page "/"
@inject NavigationManager navMngr
@using VitabalansApp.Pages.Components

<div class="container-fluid">
    <h1>Lääkefirma Oy</h1>
    <div>

    </div>
</div>




@code{

    private void GoToTestPage()
    {
        navMngr.NavigateTo("/Kirjaudu");
    }


}
