@page "/"
@inject NavigationManager navMngr
@using VitabalansApp.Pages.Components


<h1>Lääkefirma Oy</h1>

<Register />

<Login />

<button @onclick="GoToTestPage">Testisivulle</button>




@code{

    private void GoToTestPage()
    {
        navMngr.NavigateTo("/Testisivu");
    }


}
