@page "/Testisivu"
@using DataAccess.Models.HelperModels
@inject IArticlesData articlesData

<h3>Testisivu</h3>

<div @onclick="Eh">
    Lisää olio
</div>
<div>
    @if (testihomma is not null)
    {
        @testihomma.Sum(item => item.Price);    
    }
</div>


@code {
    private List<OrderItemsModel> testihomma;

    private void Eh()
    {
        (testihomma ??= new()).Add(new OrderItemsModel { Price = (decimal)12.0 });
    }
}
