@page "/Testisivu"
@inject IArticlesData articlesData

<VitabalansApp.Pages.Components.ManagePricesForm>

</VitabalansApp.Pages.Components.ManagePricesForm>


<div>
    loloololloo :D:DD:D
    asdasdasdasdasdasasasasasasasasasasasasasasasasasasasasasasasasasasasasasasasasasasasasasasasasasasasasasasasasasasasasasasas
</div>




@*<div class="container border-3 border-dark">
    <EditForm Model="article" OnValidSubmit="OpenPricesForm">
        <InputText id="title" @bind-Value="article.Title" />
        <InputNumber id="mg" @bind-Value="article.Mg" />
        <InputNumber id="amount" @bind-Value="article.Amount" />
        <InputText id="ean" placeholder="EAN-koodi" @bind-Value="article.Ean" />
        <DataAnnotationsValidator />
        <ValidationSummary />
        <button type="submit">Luo</button>
    </EditForm>
</div>*@

@code {

}
