@page "/Testisivu"
@inject Blazored.LocalStorage.ILocalStorageService localStorage

@if (usertoken is null)
{
    <div>Ei tokenia</div>
}
else
{
    <div>Tokeni</div>
}

@code {
    string? usertoken;

    protected async override Task OnInitializedAsync()
    {
        usertoken = await localStorage.GetItemAsync<string>("usertoken");
    }
}
