<div>
    <div>
        <h2>@chosenArticle!.First().Name</h2>
        <button @onclick="CloseArticle">Poistu</button>
    </div>
    <div>
        EAN: @chosenArticle!.First().Ean
    </div>
    <div>
        <img src="/images/pilleri.png" alt="lääke" width="300" height="300"/>
        @(chosenArticle!.First().UpdatedAt != DateTime.MinValue ? chosenArticle!.First().UpdatedAt.ToString("d") : chosenArticle!.First().CreatedAt.ToString("d"))
    </div>
    <hr />
    <div>
        <h3>Hinnasto</h3>
        <table>
            <thead>
                <tr>
                    <th>Luokka</th>
                    <th>Hinta</th>
                    <th>Päiväys</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var row in chosenArticle!)
                {
                    <tr>
                        <td>@row.PriceGroup?.Name</td>
                        <td>@(row.Price?.Price is not null ? row.Price.Price : "-")</td>
                        <td>@(row.Price?.UpdatedAt != DateTime.MinValue ? row.Price?.UpdatedAt.ToString("d") : row.Price?.CreatedAt.ToString("d"))</td>
                    </tr>    
                }        
            </tbody>
        </table>  
    </div>
</div>


@code {
    [CascadingParameter(Name = "ChosenArticle")]
    private IEnumerable<FullArticlesModel>? chosenArticle { get; set; }

    [Parameter]
    public EventCallback CloseComponent { get; set; }

    private void CloseArticle()
    {
        CloseComponent.InvokeAsync();
    }
}
