<div class="container border-3 border-dark">
    <EditForm Model="article" OnValidSubmit="OpenPricesForm">
        <InputText id="title" @bind-Value="article.Title" />
        <InputNumber id="mg" @bind-Value="article.Mg" />
        <InputNumber id="amount" @bind-Value="article.Amount" />
        <InputText id="ean" placeholder="EAN-koodi" @bind-Value="article.Ean" />
        <DataAnnotationsValidator />
        <ValidationSummary />
        <button type="submit">Luo</button>
    </EditForm>
</div>

@code {
    private FullArticlesModel fullArticle = new FullArticlesModel();
    private NewArticleModel article = new NewArticleModel();

    private void BuildFullName()
    {
        string fullName = "";
        string title = article.Title!;
        title = char.ToUpper(title[0]) + title.Substring(1).ToLower();
        fullName += $"{title} ";
        fullName += $"{article.Mg} mg ";
        fullName += $"{article.Amount} tabl.";

        fullArticle.Name = fullName;
    }

    private void OpenPricesForm()
    {
        BuildFullName();
    }
}