@inject IUsersData usersData

<h3>Register</h3>

<EditForm Model="userInfo" OnValidSubmit="RegisterUser">
    <DataAnnotationsValidator />
    <ValidationSummary />
    <InputText @bind-Value="userInfo.Name" placeholder="Nimi" />
    <InputText type="email" @bind-Value="userInfo.Email" />
    <InputText type="password" @bind-Value="userInfo.Password" />
    <InputText type="password" @bind-Value="userInfo.ConfirmPassword" />
    <button type="submit">Register</button>
</EditForm>

<div>
    @message
</div>


@code {
    RegisterModel userInfo = new RegisterModel();
    string message = "";

    private async Task RegisterUser()
    {
        var result = await usersData.CreateUser(userInfo);
        message = (result ? "done" : "failure");
    }
}
