@inherits LayoutComponentBase

<PageTitle>VitabalansApp</PageTitle>

<div class="page">
    <div class="sidebar border-bottom border-2">
        <NavMenu />
    </div>

    <main>
        @*<div class="top-row px-4">
            <a href="https://docs.microsoft.com/aspnet/" target="_blank">About</a>
        </div>*@

        <article class="content px-2">
            @Body
        </article>
    </main>
</div>
