<div>
    <input
        type="text"
        placeholder="Hae..."
        aria-label="Hakukenttä"
        style="width:220px;"
        @bind="searchText"
        @oninput="((i) => SearchHandler((string)i.Value!))"
        @onkeydown="@BrowseSuggestions"
    />
    @if (listOfItems is not null && !closeList && searchText != "")
    {
        <div class="position-absolute vb-autosearch-bg">
            <ul class="list-group">
                @foreach (var name in listOfItems)
                {
                    <li class="list-group-item vb-hover-pink" id="autoc-@(name)" @onclick="() => SearchHandler(name)">@name</li>
                }
            </ul>
        </div>
    }
</div>

@code {
    private string searchText = "";

    [CascadingParameter(Name = "ListOfItems")]
    private IEnumerable<string>? listOfItems { get; set; }

    // Close the suggestion list when the user clicks elsewhere on the page
    [CascadingParameter(Name = "CloseList")]
    private bool closeList { get; set; }

    [Parameter]
    public EventCallback<string> FilterResults { get; set; }

    private async Task SearchHandler(string text)
    {
        searchText = text;
        await FilterResults.InvokeAsync(searchText);
    }

    private void BrowseSuggestions(KeyboardEventArgs e)
    {
        // TODO
        // Console.WriteLine(e.Code);
    }

}
